/* Variables */

:root {
  --Basic-black: #000000;
  --Basic-neutral: #EEEEEE;
  --Basic-dark: #E1E1E1;
  --Basic-white: #FFFFFF;

  --Special-red: #FB565A;
  --Special-green: #00CA74;
  --Special-yellow: #EFC849;

/* Hover */
--hover-red: #E74246;
--hover-green: #00BC6C;
--hover-yellow: #EAB534;

/* Focus */
--focus-red: #D7373B;
--focus-green: #00AA62;
--focus-yellow: #E5A722;

}

/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /* Main navigation */

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: var(--basic-black);
    background-color: transparent;
  }
  
  .main-navigation-wrapper {
    background-color: var(--basic-neutral);
  
}

.site-navigation {
  list-style: none;
}

.site-navigation-current a:not([href]) {
    background-color: var(--basic-neutral);
  }
  
  /* User navigation */
  
    .site-navigation a,
  .user-navigation a {
    color: var(--basic-black);
  }
  
  .site-navigation a:hover,
  .site-navigation a:focus,
  .user-navigation a:hover,
  .user-navigation a:focus {
    background-color: var(--basic-neutral);
  }

  /* Slider */

.slider {
background-color: var (basic-neutral);
  background-image: url("img/nerds-index-slide1-1.jpg");
  background-image: url("img/nerds-index-slide2-1.jpg");
  background-image: url("img/nerds-index-slide3-1.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
  text-align: left;
  color: var(basic-black);
}

.button {
  font: inherit;
  text-align: center;
  color: var(--Basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--special-red);
  border: none;
}

.button:hover {
  background-color: var(--hover-red);
}
.button:focus{
  background-color: var(--focus-red);  
}
.button:active {
  background-color: var(--special);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--special-red);
}

  /* Services */

.service-list {
    list-style: none;
  }
  
  .service-item {
    text-align: center;
  }
  
  .service-item h3 {
    font-size: 24px;
    line-height: 30px;
  }

    /* Contacts */

.contacts-phone {
  color: inherit;
}
